server:
  port: 8888
spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri: https://github.com/tuyrk/coding-gitchat.git #配置git仓库地址
          searchPaths: springcloud-quickly/SpringCloudLesson/第09课/config #配置仓库路径
          username: tuyrk #访问git仓库的用户名
          password: tuyrk #访问git仓库的用户密码
      label: master #配置仓库的分支
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
    virtualHost: /
    publisherConfirms: true
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
management:
  endpoints:
    web:
      exposure:
        include: refresh,health,info,bus-refresh,bus-trace
